<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>url templates</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
          crossorigin="anonymous">
</head>
<body>
    <h1>Wellcome to urls_tamplates.html</h1>
    <a href="{% url 'basic_app:other' %}">link of other.html </a> <br>
    <a href="{% url 'admin:index' %}">link of admin  </a> <br>
    <a href=" {% url 'index' %}"> link of index</a>



</body>
</html>